/* styles.css */
#content {
    border: solid 1px #ccc;
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    border: solid 1px #ccc;
    background-color: #f1f1f1;
    margin-top: 10px;
    width: 100%;
}

nav button {
    background-color: inherit;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
}

nav button:hover {
    background-color: #ddd;
}

nav button.active {
    background-color: #ccc;
}

.task {
    border: solid 1px black;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    margin: 2px;
}

.task h3 {
    margin-right: auto;
}

.task p {
    margin-right: 10px;
}

.task .desc {
    color: gray;
}

.task button {
    padding: 0px 10px;
    font-size: 20px;
}